/* Autor Valentino Hontar Dos Santos
Día 9 de Noviembre de 2022 */



*{
    box-sizing: border-box;
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}

.fondo{
    position:relative;
}
.vertical{
    border: solid orange 5px;
    background-color: white;
    border-radius: 10px;
    opacity: .8;
    width: 30%;
    text-align: center;
    margin-top: 24%;
    margin-left: 35%;
    position: absolute;
    box-shadow: 2px 8px 2px; 
    transition: all 4s ease;
}

.horizontal{
    border: solid orange 5px;
    background-color: black;
    border-radius: 10px;
    opacity: .8;
    width: 90%;
    height: 10%;
    text-align: center;
    margin-top: 65%;
    margin-left: 70px;
    
    position: absolute;
    box-shadow: 2px 8px 2px; 
    transition: all 2s ease;
}

.texto1{
    
    width: 30%;
    text-align: center;
    position: absolute;
    margin-top: 420px;
    margin-left: 35%;
    font-size: x-large;
    text-shadow: 2px 8px 5px;
    transition: all 2s ease;
}
.texto2{
    width: 30%;
    text-align: center;
    position: absolute;
    margin-top: 1520px;
    margin-left: 35%;
    font-size: x-large;
    text-shadow: 2px 8px 5px;
    transition: all 2s ease;

}
.cuadro{
    height: 1350px;
    transition: all 1s ease;
}
.recuadro1{
    border: solid orange 5px;
    background-color: white;
    border-radius: 10px;
    opacity: .8;
    width: 30%;
    text-align: center;
    margin-top: 24%;
    margin-left: 35%;
    position: absolute;
    box-shadow: 2px 8px 2px; 
    transition: all 3s ease;
    
}
.recuadro2{
    border: solid orange 5px;
    background-color: white;
    border-radius: 10px;
    opacity: .8;
    width: 30%;
    text-align: center;
    margin-top: 1500px;
    margin-left: 35%;
    position: absolute;
    box-shadow: 2px -8px 2px;
    transition: all 3s ease;
    
}

.recuadro{
    height: 200px;
}

.practicaizq{
    width: 30%;
    text-align: center;
    position: absolute;
    margin-top: 70%;
    margin-left: 8%;
    margin-right: 35%;
    font-size: x-large;
    text-decoration: none;
    color: white;
    transition: all 3s ease;
    
    
}
.practicaizq :hover{
    transform: scale(1.5);
    transition: 2s ease;
    color: rgb(190, 139, 43);
    text-shadow: 2px 8px 5px black;
    text-decoration: none;

}
.practicader :hover{
    transform: scale(1.5);
    transition: 2s ease;
    text-shadow: 2px 8px 5px black;
    color: rgb(190, 139, 43);
    

}
.practicader{
    width: 30%;
    text-align: center;
    position: absolute;
    margin-top: 70%;
    margin-left: 60%;
    margin-right: 35%;
    font-size: x-large;
    
    
    color: white;
    transition: all 3s ease;
}





body{
    height: 1200px;

}
.cap1{
    background-image: url(./IDEX-IMG/foto3.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: all 10s linear;

}
.cap2{
    background-image: url(./IDEX-IMG/html5.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: all 10s linear;
}
.cap3{
    background-image: url(./IDEX-IMG/foto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: all 10s linear;
}
img{
    position: absolute;
    width: 10%;
    margin-top: 3%;
    margin-left: -7%;
    
}
