/*
Valentino Hontar Dos Santos
*/

*{
    box-sizing: border-box;
    margin: 15px;
}
.menuvertical{  
    float: left;
    width: 50%;
    
    margin-left: 25%;
    transition: all 2s ease;
    
}
.menuvertical a{

    color: white;
    text-decoration: none;
    padding:5% 0% 5% 30%;
    display: flex;
    border: solid 10px rgb(233, 157, 15);
    font-size: x-large;
    border-radius: 20px;
    
}
body{
    background-image: url(./IDEX-IMG/display1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: all 10s linear;
}


a :hover{
    transform: scale(2.5);
    color: rgb(187, 134, 19);
    transition: all 2s ease;
    text-shadow: 3px 3px 3px 5px;
    box-shadow: 4px 4px 4px  white;
    border-radius: 50%;
    border:solid orange 2px;
}
.menuvertical :hover{
    background-color: black ;
    

}