/*
Valentino Hontar Dos Santos 
15 de Noviembre del 2022
*/

*{
    box-sizing: border-box;
    margin: 0px;
}

.f1{
    width: 25%;
    font-weight: bolder;
    text-align: left;
    
    
}
.F1{
   background-color: rgb(158, 247, 217);
}
.F2{
    background-color: gray;
}
.f2{
    width: 25%;
    font-weight: bolder;
    text-align: left;
}
.f3{
    width: 25%;
    font-weight: bolder;
    text-align: left;
}
.f4{
    width: 25%;
    font-weight: bolder;
    text-align: left;
}
.f5{
    width: 25%;
    font-weight: bolder;
    text-align: left;
}
.f6{
    width: 25%;
    font-weight: bolder;
    text-align: left;
}
td{
    border-right: rgb(223, 214, 214) 2px solid ;
    border-bottom: rgb(223, 214, 214) 2px solid ;
    text-align: center;
   
    
}
table{
    background-image: linear-gradient( aqua,green) ;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 200px;
}
.blanco{
   
    border-right: rgb(223, 214, 214) 2px solid ;
    background-color: white;
}
img{
   width: 50%;
   border-radius: 10px;
   margin-left: 50px;
   margin-right:60px;
}
.sony{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 17%;
}
.xiaomi{
    width: 20%;
}
.parche{
    background-color: white;
    position: absolute;
    width: 392px;
}