html{
    scroll-behavior: smooth;
 }
 body{
    width: 70%;
    margin: auto;
    font-size: 1.5em;
 }
section{
    background-color: bisque;
} 
p{
    background-color: aqua;
    padding: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    padding: 20px;
    width: fit-content;
    margin: auto;
}
nav a{
    text-decoration: none;
    padding: 10px;

}
img{
    width: 250px;
    margin:auto;
    display: none;
    border: 2px solid black;
    animation-name: animacion;
    animation-duration:2s;
}
section h1{
    padding: 20px 0 0 20px ;
}
section a{
    padding-left: 20px;
    text-decoration: none;
}
@media(max-width: 600px){
    nav{
        flex-direction: column;
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(min-width:480px) and (max-width:600px){
    body{
        background-color: blueviolet;
    }
}
@keyframes animacion{
    from {opacity:0;} 
    to  {opacity:1;}
}