/*

    27 de Septiembre de 2022
    Autor: Valentino Hontar Dos Santos
    Hoja de Estilo CSS

*/

body{
    border: 8px solid rgb(179, 204, 67); 
    border-radius: 50px
    
}
h1 { background-color: rgba(91, 202, 76, 0.7);
    margin: 4%;
    padding: 20px; 
    border-radius: 36px;    
}
/* El marquee es la etiqueta que sirve para dar movimiento los objetos */
marquee {

    
    margin: 4%;
    padding: 20px; 
    border-radius: 36px;    
}




p{
    color: rgb(0, 0, 0);
    background-color: rgba(144, 206, 144, 0.7);
    margin: 4%;
    padding: 20px; 
    border-radius: 36px; 
}
footer{
    position: fixed;
    bottom: 0px;
    width:100%;
    display: flex;
    justify-content: space-between;

}
img{
    width: 5%;
    height: 5%;
    margin-right: 20px;
    margin-top:50px
}